@import "../_module/layout_parts";

/* header */
header {
	margin: 0px auto; 
	padding: 56px 14vw 24px;
}
#header-box {
	@include stack-top(24px);
}
.header-logo {
	&-kanji {
		font-size: 40px;
	}	
	&-romaji {
		margin-left: 12px;
		font-size: 20px
	}
}
.header-menu {
	@include stack-right(48px);
	& > * {
		font-size: 16px;
		padding: 12px 0px;
	}
}

/* main */
/* intro-image */
$intro-image-width: 72vw;
#intro-image {
	margin: 0 auto; 
	padding: 0vw 14vw;
	&-box {
		height: $intro-image-width*0.56;
		@include stack-left(0);
	}
}
.intro-image-left {
	width: 72%;
	&-text {
		margin-top: 32.0vw;
		font-size: 3.6vw;
	}

}	
.intro-image-right {
	width: 28%;
	&-character {
		margin-top: 5.6vw;
		font-size: $intro-image-width*0.32;
	}
}
/* intro-text */
#intro-text {
	margin: 0 auto; 
	padding: 48px 18.0vw;
	&-box {

	}
}
.intro-text-line {
	font-size: 24px;
	line-height: 64px;
	&-me {
		font-size: 48px;
		&::before {
			content: " ";
		}
		&::after {
			content: " ";
		}
	}
}

/* footer */
footer {
	margin: 0px auto; 
	padding: 48px 14vw;
	&-box {
		//効かない
		@include clearfix;
	}
}
.footer-text {
	float: right;
}